@model UserLogin 
@{
    Layout = "~/Views/Shared/_LoginAndRegisterLayout.cshtml";
}

<section class="signup">
    <div class="container">
        <div class="signup-content">
            <form asp-action="Login" method="POST" id="signup-form" class="signup-form">
                <h2 class="form-title">Create account</h2>
            
                <div class="form-group">
                    <input type="text" class="form-input" asp-for="Username" id="username" placeholder="Your Username" />
                </div>
               
                <div class="form-group">
                    <input type="password" class="form-input" asp-for="Password" id="password" placeholder="Password" />
                    <span toggle="#password" class="zmdi  field-icon toggle-password"></span>
                </div>

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <input type="submit" name="submit" id="submit" class="form-submit" value="Login" />
                </div>
            </form>
            <p class="loginhere">
                Have already an account ? <a  asp-controller="LoginAndRegister" asp-action="Register" class="loginhere-link">Sign up here</a>
            </p>
        </div>
    </div>
</section>